
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Index</h1>

<div><h3>Toplam Kategori sayısı = @ViewBag.CategoryNumber</h3></div>
<div><h3>Yazılım Kategorisine ait başlık sayısı = @ViewBag.SoftwareHeadings</h3></div>
<div><h3>İçinde "a" harfi geçen yazar sayısı = @ViewBag.SoftwareHeadings</h3></div>



